body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#000;
    background-image: url("bg.png"); 
    background-repeat: no-repeat ;
    background-size: cover;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

/* header */
header{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 11vh;
    background-color:#000;
    color: #fff;
    z-index: 10;
}

header > img {
    height: 6rem;
    align-self: center;
    margin-left: 1.5rem;
}
header > h1{
    align-self: center;
    margin-left: 4rem;
}
.menyval {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    bottom: 0;
}
.menyval li {
    display: inline;
    margin-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    color: rgb(233, 149, 22);
    font-weight: 700;
    
}

.menyval .selected{
    display: inline-block;
    transform: translateY(-5px);

}
.menyval a{
    text-decoration: none;
    color: rgb(233, 149, 22);
}

.menyval a:visited {
    color: rgb(233, 149, 22);
}
.menyval a:hover {
    color: rgb(146, 94, 15);

}


.parallax_starters_img{
    margin: 0;
    background-image: url("food.jpg");
    background-attachment: fixed;
    background-position: center -37rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
}

.parallax_main_img{
    margin: 0;
    background-image: url("main.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

.meny{
    background-color: rgb(25, 25, 25);
    min-height: 10rem;
    color: #fff;
    padding: 1rem;
    padding-bottom: 3rem;
}

.meny h2{
    text-align: center;
    margin-top: 0;
    
}

.meny table{
    margin: 0 auto;
    width: 60rem;
    border-collapse: collapse;
}

.meny table td{
    padding: 0.5rem;
    border-spacing: 0;
    border-bottom: 1px solid #fff;
}


.meny table tr:last-child td{
    border:0;
}

.meny table td:last-child{
    text-align: right;
}


.overlay {
    position: relative;
    height: 91vh;
    width: 100%;
    
}

.overlay .info{
position: absolute;
left: 50%;
top: 30%;
width: 30rem;
height: 15rem;
margin-left: -15rem;
background-color: rgba(0, 0, 0,0.7);
border-radius: 1rem;
color: #fff;
padding: 2rem;
font-size: 0.9em;
text-align: center;
font-weight: 800;
}



footer{
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    background-color: #000;
    width: 100%;
    height: 9vh;
    position: relative;
    font-weight: 900;
}

footer .address{
    padding-top: 5px;
}


footer .open{
    margin-top: 0.5rem;
}

footer .open span{
    margin-left: 1rem;
    margin-right: 1rem;
    
}


footer .copy{
    font-size: 0.7em;
    position: absolute;
    bottom: 5px;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    header{
        position: fixed;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 15vh;
        background-color:#000;
        color: #fff;
        z-index: 10;
    }
    
    header > img {
        height: 3rem;
        margin-top: 5px;
        align-self: flex-start;
    }
    header > h1{
        line-height: 2rem;
        text-align: center;
        align-self: flex-start;
        font-size: 0.8em;
    }

    .menyval {
        position: absolute;
        width: 100%;
        text-align: center;
        margin-right: 0rem;
        bottom: 0;
    }

    .menyval ul{
        padding: 0;
    }

    .menyval li {
        display: inline;
        margin-left: 0rem;
        padding-right: 0rem;
        text-align: left;
        color: rgb(233, 149, 22);
        font-weight: 700;
        font-size: 0.8em;
    }

    .overlay {
        height: 88vh;
    }
    .overlay .info{
        position: absolute;
        left: 0;
        top: 30%;
        width: 100%;
        
        min-height: 18rem;
        margin-left: 0rem;
        background-color: rgba(0, 0, 0,0.7);
        border-radius: 0rem;
        color: #fff;
        padding: 0rem;
        font-size: 0.9em;
        text-align: center;
        font-weight: 800;
        }



        .parallax_starters_img{
            background-position: center;
        }
        .meny{
            font-size: 0.8em;
        }


        .meny table{
            margin: 0 auto;
            width: 100%;
            border-collapse: collapse;
        }

        footer{
            height: 12vh;
            font-size: 0.8em;
        }
        footer .open span{
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            
        }




  }